.root {
  z-index: 10;
  padding: 20px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  box-sizing: border-box;
  background:
    radial-gradient(
      146.13% 118.42% at 50% -15.5%,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 99.59%
    ),
    linear-gradient(180deg, rgba(46, 51, 90, 0) 0%, rgba(28, 27, 51, 0.1) 100%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    inset 0px 0px 100px rgba(204, 215, 255, 0.15),
    0px 5px 10px rgba(0, 0, 0, 0.05),
    0px 15px 30px rgba(0, 0, 0, 0.05),
    0px 30px 60px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  justify-content: space-between;
}

.top__img {
  z-index: 1;
  width: 100%;
}

.body {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  align-items: baseline;
  justify-content: center;

  & h3 {
    line-height: 27px;
    font-size: 18px;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(
      100deg,
      #fff 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    background-repeat: repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    text-shadow: 0px 0px 20px 0px rgb(255 255 255 / 50%);
  }

  & p {
    font-size: 16px;
    line-height: 24px;
    color: rgb(255 255 255 / 60%);
  }
}

.button {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid rgb(255 255 255 / 60%);
  font-size: 13px;
  line-height: 20px;
  color: rgb(255 255 255 / 60%);

  & img {
    width: 16px;
    height: 16px;
  }

  & span {
    white-space: nowrap;
  }
}
