.root {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.submenu {
  display: flex;
  align-items: center;
  gap: 30px;

  & a:not([id='sign_up']) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: #fff;
      transform: scaleX(0);
      transform-origin: top left;
      transition: transform 0.3s ease;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}

.sign_up {
  width: 83px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
